<%- include ('../partials/header') %>

<h2>My Workouts</h2>
<ul>
<% exercises.forEach(function(e) {%>
    <li><a href="/exercises/<%= e._id %>"><%= e.exerciseName %></li>
<% }); %>
</ul>
<%- include ('../partials/footer') %>