<%- include ('../partials/header') %>

<main>
    <h2> <%= exercise.exerciseName %> </h2>
    <form id="add-workout-form" action="/exercises/<%= exercise._id %>/workouts" method="POST">
        <input type="date" name="workoutDate"><br />
    <% if (exercise.weighted === true && exercise.measurementType === "Reps") { %>
        <input type="text" name="weight"><label>lbs.</label>
        <input type="text" name="reps"><label>Reps</label>

    <% } else if (exercise.weighted === false && exercise.measurementType === "Reps") { %>
    <input type="text" name="reps"><label>Reps</label>

    <% } else if (exercise.weighted === true && exercise.measurementType === "Distance") { %>
        <input type="text" name="weight"><label>lbs</label>
        <input type="text" name="distance"><label>miles</label>

    <% } else if (exercise.weighted === false && exercise.measurementType === "Distance") { %>
        <input type="text" name="distance"><label>miles</label>

    <% } else if (exercise.weighted === true && exercise.measurementType === "Duration") { %>
        <input type="text" name="weight"><label>lbs</label>
        <input type="text" name="duration"><label>seconds</label>

    <% } else if (exercise.weighted === false && exercise.measurementType === "Duration") { %>
        <input type="text" name="duration"><label>lbs</label>
    <% }; %>
    <input type="submit" value="Add Workout">
    </form>
</main>



<%- include('../partials/footer') %>

